<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cisco.dnac"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        >
        <activity
            android:name="com.cisco.dnac.MainActivity"
            android:label="DNAC"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cisco.dnac.DeviceCountActivity"
            android:label="DNAC"
            android:theme="@style/appTheme">
        </activity>
        <activity
            android:name="com.cisco.dnac.DeviceDetailsActivity"
            android:label="DeviceDetails"
            android:theme="@style/appTheme">
        </activity>
    </application>

</manifest>
